//Diferentes colores//
$fondo: whitesmoke;
$header: white;
$sombra: 0 0px 5px 0 rgba(31, 38, 135, 0.37);
$borde: 1px solid rgba(255, 255, 255, 0.18);
$fondo-texto: rgba(255, 255, 255, 0.35);
$letra: white;



